@model EntityLayer.Concrete.Reservation
@{
    ViewData["Title"] = "NewReservation";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h1>Yeni Rezervasyon Sayfası</h1>
<form method="post">
    <div class="formm-group">
      @Html.Label("Lokasyon")
     @Html.DropDownListFor(m=>m.Destination,(List<SelectListItem>)ViewBag.v,new{@class="form-control"})
    </div>
    <div class="formm-group">
      @Html.Label("Kişi Sayısı")
      <input type="text" asp-for="PersonCount" class="form-control" />
    </div>
    <div class="formm-group">
      @Html.Label("Tarih")
      <input type="date" asp-for="ReservationDate" class="form-control" />
    </div>
      <div class="formm-group">
      @Html.Label("Varsa Ekleme İstedikleriniz")
      <input type="text" asp-for="Description" class="form-control" />
    </div>
    <div class="formm-group mt-3">
        <button class="btn btn-info">
            <span>Rezervasyon Yap</span>
        </button>
    </div>
</form>
